
.home {
   margin-left: 50%;
   margin-top: 400px;
   margin-bottom: 400px;
}
.homeText h1 {
    font-size: 60px;
    font-weight: 700;
}
.homeText p {
    font-size: 30px;
    font-weight: 500;
    color: rgb(9, 207, 221);
}
.homeText button {
    font-size: 20px;
    font-weight: 500;
    color: rgb(9, 207, 221);
    padding: 15px 30px;
    background-color: white;
    border-color: rgb(9, 207, 221);
    border-radius: 20px;
}