.education h1 {
        font-size: 60px;
        font-weight: 700;
    }
.education h2 {
        font-size: 25px;
        font-weight: 600;
        color: rgb(9, 207, 221);
    }
.resume {
        margin-left: 50%;
        
        }
.education {
        margin-top: 200px;
        
}
.education h4 {
    font-size: 18px;
    line-height: 1.7;
    color: rgb(9, 207, 221);
    font-weight: 600;
    }
.education h3 {
       font-size: 30px;
       line-height: 1.7;
       font-weight: 700;
       }
       .codingSkills {
           margin-top: 50px;
           border-bottom: 2px solid rgb(4, 140, 150) ;
           padding-bottom: 200px;
       }
   .review {
    padding: 40px;
    border-radius: 5px;
   }
   .review:hover{
    box-shadow: 0 0 30px rgb(9 207 221 / 50%);
   }